/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Adding universal reset so every browser acts the same. Each browser adds different margin and paddings */
* {
  margin: 0;
  padding: 0;
  /* remove margins and paddings from total width and height of elements */
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* Adds the empty padding around the whole body */
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fd8, #28b485d8),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* Clips part of the background image */
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
