@mixin clearfix {
  &::after {
    // Required so this pseudo class appears on the page, but without any content
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
