/* Adding universal reset so every browser acts the same. Each browser adds different margin and paddings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 
  Defines what 1 rem is.
  Using % enables the user to change the font size, zooming in and out.
  Default browser font size is 16px. 62.5% = 10px.
  */
  font-size: 62.5%;

  /* 
  The order is important, because if the tab-land breakpoint is reached,
  both the tab-land and tab-port will be applied, but only the last style
  will be applied.
  */
  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; // 12px
  }
}

body {
  /* remove margins and paddings from total width and height of elements */
  box-sizing: border-box;
}
