.u-center-text {
  text-align: center;
}

// @for $i from 1 through 8 {
//   .u-margin-bottom-#{$i} {
//     margin-bottom: #{$i}rem;
//   }
// }

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-big {
  margin-top: 10rem;
}
